@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* สไตล์ที่ปรับแต่งสำหรับ Toastify */
.Toastify__toast {
  background: linear-gradient(135deg, #d4af37, #e6c7a4); /* พื้นหลังเป็นสีทองเงา */
  color: #fff; 
  border-radius: 12px; 
  font-size: 16px; 
  padding: 12px 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  font-family: 'Poppins', sans-serif; 
}

.Toastify__toast--success {
  background: #fffbf5; 
  color: #635f5f; 
}

.Toastify__toast--error {
  background: #fffbf5; 
  color: #635f5f; 
}

.Toastify__toast-body {
  display: flex;
  align-items: center;
  font-weight: 500; 
}
